main {
  box-sizing: border-box;
  background-color: #141414;
  color:rgb(229, 231, 233);
  padding: 50px;
}

* {
  margin: 0;
}

section {
}

#hero {
  text-align: center;
}

h1 {
  font-size: 3rem;
  background: -webkit-linear-gradient(#104053,#34E89E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tagline {
  font-size: 1.2rem;
}

#inputTransaction {
  background:linear-gradient(#104053,#34E89E);
  width: 401px;
  max-width: 90%;
  margin: 3rem auto 0;
  padding: 1.5rem;
  border-radius: 20px 20px 0 0;
}

h2 {
  font-size: 2.4rem;
  padding-bottom: 0.5rem;
}

input, textarea {
  width: 100%!important;
  background: #141414;
  color: #777;
  border-radius: 5px;
  padding: 0.5rem;
}

textarea:focus, input:focus {
  color: #f9f7f7;
}

.basics, .description {
  display: flex;
  gap: 0.3rem;
  margin-bottom: 0.3rem;
}

textarea {
  resize: vertical;
}

#allTransactions {
  width: 400px;
  max-width: 90%;
  margin: 0 auto;
  border: 1px solid #34E89E;
  border-top: 0;
  padding: 1.5rem;
  border-radius: 0 0 20px 20px;
}

.transaction {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  border-top: 1px solid rgba(128, 128, 128, 0.647);
  padding-top: 1rem;
}

.transaction:first-child{
  border: 0;
  padding: 0;
}

.right {
  text-align: right;
}

h3 {
  font-size: 1.5rem;
}

.transaction p {
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
}

.expense {
  color: rgb(206, 10, 10);
}

.income {
  color:#23d38a;
}